flask
flask-sqlalchemy
marshmallow-sqlalchemy
sqlalchemy-utils
flask-marshmallow
flask_cors
flask-restful
marshmallow
python-dotenv
psycopg2
flask-psycopg2
requests
requests_oauthlib
jwt
PyJWT
flask-jwt-extended
pytest
stripe